@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h1 class="display-4">Test Page</h1>
    <p>If you can see this page, the application is working correctly!</p>
    <p>Current time: @DateTime.Now</p>
    
    <div class="mt-4">
        <a href="/Identity/Account/Login" class="btn btn-primary">Go to Login Page</a>
        <a href="/" class="btn btn-secondary">Go to Home</a>
    </div>
</div> 